<launch>
    <arg name="model" default="$(find voodoo)/urdf/manipulator.urdf.xacro"/>
    <arg name="voodoo_config" default="$(find voodoo)/config/sirius.yaml"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />
        <remap from="/joint_states" to="/voodoo_node/joint_states"/>
    </node>
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find voodoo)/rviz/manipulator.rviz" />

    <include file="$(find voodoo)/launch/voodoo.launch">
        <arg name="voodoo_config" value="$(arg voodoo_config)" />
    </include>


</launch>
