---
BasedOnStyle: Google
AccessModifierOffset: '-2'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignTrailingComments: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: 'Mozilla'
BreakConstructorInitializers: BeforeComma
ColumnLimit: '100'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
IncludeBlocks: Regroup
IndentWidth: '4'
Language: Cpp
SortIncludes: 'true'
SpaceBeforeAssignmentOperators: 'true'
UseTab: Never

...
